rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow read & write access to all application collections
    match /goals/{id} {
      allow read, write: if true;
    }
    match /objectives/{id} {
      allow read, write: if true;
    }
    match /projects/{id} {
      allow read, write: if true;
    }
    match /initiatives/{id} {
      allow read, write: if true;
    }
    match /tasks/{id} {
      allow read, write: if true;
    }
    match /kpis/{id} {
      allow read, write: if true;
    }
    match /kataSessions/{id} {
      allow read, write: if true;
    }
    match /userProfile/{id} {
      allow read, write: if true;
    }
    match /members/{id} {
      allow read, write: if true;
    }
    
    // Deny access to other unmapped documents by default
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
